@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import "@/variables.scss";

body {
  box-sizing: border-box;
  margin: 0;
  $font-blackfont-family: "Relative", "Open Sans", sans-serif;
  background-color: #f3f3f3;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}

h1 {
  &.theme-header {
    position: relative;
    display: inline-flex;
    align-items: center;
    &:before {
      content: "";
      display: block;
      width: 8px;
      background-color: $primary;
      height: 8px;
      margin-right: 12px;
    }
  }
}

h1,
h2,
h3 {
  padding-bottom: 0.7em;
  font-weight: 500;
  &.light {
    color: white
  }
}

span {
  font-size: 14px;
}

.input {
  &__label-b {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
  }
}

label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

form {
  width: 100%;
}
input[type="date"] {
  -webkit-appearance: none;
}
input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
  font-family: "Relative", "Open Sans", sans-serif;
  width: 100%;
  appearance: none;
  height: 40px;
  border-radius: 4px;
  padding: 0px 14px;
  margin: 8px 0;
  background-color: white;
  border: 1px solid $grey-border;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.3px;

  &:active {
    outline: 0;
  }
}

select {
  background: {
    image: url("/assets/icons/sort-down.svg");
    size: 10px 10px;
    repeat: no-repeat;
    position: calc(100% - 14px) 15px;
  }
}

textarea {
  height: auto;
  padding: 12px 14px;
}

button,
.btn {
  display: block;
  padding: 12px 12px;
  border: 2px solid $primary;
  color: $primary;
  font-size: 14px;
  max-height: 46px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  border-radius: 6px;
  background-color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;

  &.cta {
    background-color: $primary;
    color: white;
    margin-top: 12px;
    width: 100%;
    &--dark {
      background-color: #2456a0;
    }
  }
  &.cancel {
    color: grey;
    border-color: grey;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
  &.small {
    padding: 7px 10px 6px;
    font-size: 14px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: 200ms all ease-in-out;
}

.fade-enter-active {
  transition-delay: 0.1s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
