$primary: #3b7ad8;
$green: #e5f5e2;
$red: #8b0000;
$grey-light: #f8f8f8;
$grey-border: #d0d0d0;
$grey-background: #e8e8e8;
$font-black: #2c3e50;

@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$breakpoints: (
  "mobile": 520px,
  "small": 767px,
  "medium-small": 900px,
  "medium": 1260px,
  "large": 1679px
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
